@import 'variables.css';

*, *:before, *:after {
    box-sizing: border-box;    
  }

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    background-image: url('../img/clouds.webp');
    color: var(--azul-cantero);
    text-align: center;
    font-family: 'Belanosima', sans-serif;
    font-size: 1.2em;
    padding-bottom: 7em;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

.footer-header {
    background-color: var(--morado-cantero);
    color: var(--amarillo-cantero);
    border: 5px solid var(--marron-cantero);
    box-shadow: inset 0px 0px 30px var(--marron-cantero);
    border-radius: 10px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}