@import 'variables.css';

*, *:before, *:after {
    box-sizing: border-box;    
  }

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    background-image: url('../img/clouds.webp');
    color: var(--azul-cantero);
    text-align: center;
    font-family: 'Belanosima', sans-serif;
    padding-bottom: 7em;
    position: relative;
    min-height: 100vh;
}

.footer-header {
    background-color: var(--morado-cantero);
    color: var(--amarillo-cantero);
    box-shadow: inset 0px 0px 30px var(--marron-cantero);
    border-radius: 10px 60px 30px 80px;
    margin: .5em;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.grid {
    display: grid;
    align-items: center;
    justify-content: center;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.error {
    color: red;
}