@import 'variables.css';

header h1 {
    margin: 0;
    font-size: 2em;
    font-family: 'Gloria Hallelujah', cursive;
    text-shadow: 2px 2px black;
}

header img {
    max-height: 4em;
    padding-top: .5em;
}