@import 'variables.css';

#lider {
    max-height: 15em;
    padding: 2em;
}

#bienvenida {
    margin-right: 2em;
}

.evento {
    text-align: left;
    margin: 0 2em;
}

.evento td {
    padding: .5em;
}